{% extends "home/base.html" %}
{% block content %}
    <p>KCET Home</p>
	{% if user.is_authenticated %}
  				              <form action="{% url 'logout' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">logout</button>
								</form>
								<form action="{% url 'profile' %}" method="GET">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">Profile</button>
								  </form>
								{% if request.user.is_superuser %}
								<form action="{% url 'verify' %}" method="GET">
									{% csrf_token %}
									<button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">verify</button>
								  </form>
								{% endif %}

							
								
  				              
              {% else %}
              <div>
  				              <form action="{% url 'login' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">login</button>
                        </form>
              </div>
              <div>
  				              <form action="{% url 'register' %}" method="POST">
  				                {% csrf_token %}
  				                <button type="submit" class="btn btn-primary fh5co-hero-btn mt-10">signup</button>
  				              </form>
						  </div>
  				    {% endif %}
{% endblock content %}